/*  Login/Create CSS */

html {
    font-family: Droid Sans;
    background-color: #1e1e1e;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.create {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.login__title__text {
    font-size: 36px;
    color: #4285F4;
    text-align: center;
    text-shadow: 2px 2px 3px #4285F4;
}

.create__title__text {
    font-size: 36px;
    color: #34A853;
    text-align: center;
    text-shadow: 2px 2px 3px #34A853;
}

.form {
    background-color: #1e1e1e;
    height: 405px;
    width: 590px;
    border-radius: 15px;
    opacity: .90;
}

.create__form {
    background-color: #1e1e1e;
    height: 520px;
    width: 590px;
    border-radius: 15px;
    opacity: .90;
}

.form__area {
    padding: 44px 50px 24px 50px;
}

.create__form__area {
    padding: 44px 50px 24px 50px;
}

.form__label {
    display: block;
    color: #4285F4;
    font-size: 18px;
    font-weight: bolder;
    padding-bottom: 6px;
}

.create__form__label {
    display: block;
    color: #34A853;
    font-size: 18px;
    font-weight: bolder;
    padding-bottom: 6px;
}

.form__input__field {
    display: block;
    height: 65px;
    width: 480px;
    font-size: 18px;
    font-weight: bolder;
    border: #4285F4;
    border-radius: 10px;
    padding-left: 10px;
}

.create__form__input__field {
    display: block;
    height: 65px;
    width: 480px;
    font-size: 18px;
    font-weight: bolder;
    border: #34A853;
    border-radius: 10px;
    padding-left: 10px;
}

.form__register, .form__create {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.create__form__register, .create__form__create {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.form__register {
    color: #939393;
}

.create__form__register {
    color: #939393;
}

.form__create {
    color: #4285F4;
    text-decoration: none;
}

.create__form__create {
    color: #34A853;
    text-decoration: none;
}

.form__login {
    color: #323030;
    background-color: #4285F4;
    font-size: 18px;
    font-weight: bolder;
    height: 50px;
    width: 180px;
    margin-left: 150px;
    border: none;
    border-radius: 10px;
}

.create__form__join {
    color: #323030;
    background-color: #34A853;
    font-size: 18px;
    font-weight: bolder;
    height: 50px;
    width: 180px;
    margin-left: 150px;
    border: none;
    border-radius: 10px;
}


.form__login:hover {
    background-color: #274f91;
    cursor: pointer;
}

.create__form__join:hover {
    background-color: #1d5e2f;
    cursor: pointer;
}

.footer {
    text-align: center;
    color: #939393;
    font-size: 18px;
    font-weight: bolder;
    padding-top: 50px;
}

.create__footer {
    text-align: center;
    color: #939393;
    font-size: 18px;
    font-weight: bolder;
    padding-top: 50px;
}

.name {
    color: #4285F4;
    text-decoration: none;
}

.create__name {
    color: #34A853;
    text-decoration: none;
}

.error {
    text-align: center;
    color: red;
    font-weight: bolder;
}

/* Animated background CSS */

@keyframes move-clouds-back {
    from {background-position: 0 0;}
    to {background-position: 10000px 0;}
}

@keyframes move-twinkle-back {
    from {background-position: 0 0;}
    to {background-position: 10000px 5000px;}
}

.stars, .twinkling, .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #000000 url(/static/images/stars.png) repeat top center;
    z-index: 0;
}

.twinkling {
    background: transparent url(/static/images/twinkling.png) repeat top center;
    z-index: 1;
    animation: move-twinkle-back 200s linear infinite;
}

.clouds {
    background: transparent url(/static/images/clouds.png) repeat top center;
    z-index: 2;
    opacity: .4;
    animation: move-clouds-back 200s linear infinite;
}

/* Index/Structural CSS */